<a routerLink="/"
    class="button absolute bg-red-400 text-white p-3 hover:bg-red-500 hover:font-bold rounded-lg select-none">Back</a>

<button (click)="darkMode = !darkMode"
    class="button absolute bg-blue-800 text-white p-3 hover:bg-blue-950 hover:font-bold rounded-lg select-none right-0"> 
    <p *ngIf="darkMode" >Light</p>
    <p *ngIf="!darkMode" >Dark</p>
</button>

<div class="w-full h-screen overflow-y-auto" [ngClass]="darkMode ? 'bg-slate-900 text-white' : 'bg-white text-black'" >
    <div class="container mx-auto flex flex-row">
        <div class="w-1/4  p-1 h-screen rounded-lg">

            <div class="h-full" [ngClass]="darkMode ? 'bg-slate-600 text-white' : 'bg-blue-100 text-black'" >

                <div class="w-full h-1/8 bg-gradient-to-r from-blue-400 to-blue-300 px-6 py-4 rounded-t-lg shadow-md">
                    <p class="text-4xl font-bold text-center text-white drop-shadow-lg">Contacts:</p>
                    
                    <div class="flex flex-col md:flex-row md:space-x-4 mt-4 items-center">

                        <ul class="flex flex-row justify-center space-x-4 w-full">
                            <li *ngFor="let page of tags; let i = index"
                                [ngClass]="{'font-bold text-blue-500': selectedPageIndex === i, 'text-gray-500': selectedPageIndex !== i}" 
                                class="cursor-pointer">
                                <p class="text-sm w-1/6" (click)="selectedPageIndex = i"  > {{ page }} </p>
                            </li>
                        </ul>


                    </div>
                </div>

                <div class="w-full h-3/4 px-2 overflow-y-auto overflow-x-hidden">

                    <div class="w-full border-gray-200 rounded-lg shadow-md flex flex-row hoverPop hover:z-99" [ngClass]="darkMode ? 'bg-slate-900 text-white hover:bg-black' : 'bg-white text-black hover:bg-gray-100'"
                        *ngFor="let contact of contacts" (click)="selectedContact = contact">
                        <div class="aspect-square bg-blue-100 w-1/3 overflow-hidden rounded-lg border-1">
                            <div class="w-full h-full object-contain relative aspect-square">

                                <img *ngIf="contact.yuu.selectedBackHair != ''" [src]="contact.yuu.selectedBackHair"
                                    alt="Yuu Back Hair" class="object-cover rounded-lg pixel-art absolute w-full"
                                    [style.filter]="'hue-rotate(' + contact.yuu.hue[5] + 'deg) brightness(' + (contact.yuu.brightness[5]-1) + '%) saturate(' + contact.yuu.saturation[5] + '%)'"
                                    [style.top]="(contact.yuu.yOffset[1]+contact.yuu.yOffset[5]) + '%'"
                                    [style.left]="contact.yuu.xOffset[1]+contact.yuu.xOffset[5] + '%'"
                                    [style.transform]="'scale(' + (contact.yuu.yScale[1]/10 + contact.yuu.xScale[5]/10) + ', ' + (contact.yuu.yScale[1]/10 + contact.yuu.yScale[5]/10) + ')'" />

                                <img *ngIf="contact.yuu.selectedHair != ''" [src]="contact.yuu.selectedHair"
                                    alt="Yuu Hair" class="object-cover rounded-lg pixel-art absolute w-full"
                                    [style.filter]="'hue-rotate(' + contact.yuu.hue[5] + 'deg) brightness(' + (contact.yuu.brightness[5]-1) + '%) saturate(' + contact.yuu.saturation[5] + '%)'"
                                    [style.top]="(contact.yuu.yOffset[1]+contact.yuu.yOffset[5]) + '%'"
                                    [style.left]="contact.yuu.xOffset[1]+contact.yuu.xOffset[5] + '%'"
                                    [style.transform]="'scale(' + (contact.yuu.yScale[1]/10 + contact.yuu.xScale[5]/10) + ', ' + (contact.yuu.yScale[1]/10 + contact.yuu.yScale[5]/10) + ')'" />

                                <img [src]="'/Yuu/Body.png'" alt="Yuu Body" class="rounded-lg pixel-art absolute w-full"
                                    [style.filter]="'hue-rotate(' + contact.yuu.hue[0] + 'deg) brightness(' + contact.yuu.brightness[0] + '%) saturate(' + contact.yuu.saturation[0] + '%)'" />

                                <img *ngIf="contact.yuu.selectedHead != ''" [src]="'/Yuu/Heads/Head1.png'"
                                    alt="Yuu Head" class="object-cover rounded-lg pixel-art absolute w-full"
                                    [style.filter]="'hue-rotate(' + contact.yuu.hue[1] + 'deg) brightness(' + contact.yuu.brightness[1] + '%) saturate(' + contact.yuu.saturation[1] + '%)'"
                                    [style.top]="contact.yuu.yOffset[1] + '%'"
                                    [style.left]="contact.yuu.xOffset[1] + '%'"
                                    [style.transform]="'scale(' + contact.yuu.xScale[1]/10 + ', ' + contact.yuu.yScale[1]/10 + ')'" />

                                <img *ngIf="contact.yuu.selectedEyes != ''" [src]="contact.yuu.selectedEyes"
                                    alt="Yuu Eyes" class="object-cover rounded-lg pixel-art absolute w-full"
                                    [style.filter]="'hue-rotate(' + contact.yuu.hue[2] + 'deg) brightness(' + contact.yuu.brightness[2] + '%) saturate(' + contact.yuu.saturation[2] + '%)'"
                                    [style.top]="(contact.yuu.yOffset[1]+contact.yuu.yOffset[2]) + '%'"
                                    [style.left]="contact.yuu.xOffset[1]+contact.yuu.xOffset[2] + '%'"
                                    [style.transform]="'scale(' + (contact.yuu.yScale[1]/10 + contact.yuu.xScale[2]/10) + ', ' + (contact.yuu.yScale[1]/10 + contact.yuu.yScale[2]/10) + ')'" />

                                <img *ngIf="contact.yuu.selectedMouth != ''" [src]="contact.yuu.selectedMouth"
                                    alt="Yuu Mouth" class="object-cover rounded-lg pixel-art absolute w-full"
                                    [style.filter]="'hue-rotate(' + contact.yuu.hue[3] + 'deg) brightness(' + contact.yuu.brightness[3] + '%) saturate(' + contact.yuu.saturation[3] + '%)'"
                                    [style.top]="(contact.yuu.yOffset[1]+contact.yuu.yOffset[3]) + '%'"
                                    [style.left]="contact.yuu.xOffset[1]+contact.yuu.xOffset[3] + '%'"
                                    [style.transform]="'scale(' + (contact.yuu.yScale[1]/10 + contact.yuu.xScale[3]/10) + ', ' + (contact.yuu.yScale[1]/10 + contact.yuu.yScale[3]/10) + ')'" />

                                <img *ngIf="contact.yuu.selectedNose != ''" [src]="contact.yuu.selectedNose"
                                    alt="Yuu Nose" class="object-cover rounded-lg pixel-art absolute w-full"
                                    [style.filter]="'hue-rotate(' + contact.yuu.hue[1] + 'deg) brightness(' + contact.yuu.brightness[1] + '%) saturate(' + contact.yuu.saturation[1] + '%)'"
                                    [style.top]="(contact.yuu.yOffset[1]+contact.yuu.yOffset[4]) + '%'"
                                    [style.left]="contact.yuu.xOffset[1]+contact.yuu.xOffset[4] + '%'"
                                    [style.transform]="'scale(' + (contact.yuu.yScale[1]/10 + contact.yuu.xScale[4]/10) + ', ' + (contact.yuu.yScale[1]/10 + contact.yuu.yScale[4]/10) + ')'" />

                                <img *ngIf="contact.yuu.selectedBeard != ''" [src]="contact.yuu.selectedBeard"
                                    alt="Yuu Beard" class="object-cover rounded-lg pixel-art absolute w-full"
                                    [style.filter]="'hue-rotate(' + contact.yuu.hue[5] + 'deg) brightness(' + contact.yuu.brightness[5] + '%) saturate(' + contact.yuu.saturation[5] + '%)'"
                                    [style.top]="(contact.yuu.yOffset[1]+contact.yuu.yOffset[6]) + '%'"
                                    [style.left]="contact.yuu.xOffset[1]+contact.yuu.xOffset[6] + '%'"
                                    [style.transform]="'scale(' + (contact.yuu.yScale[1]/10 + contact.yuu.xScale[6]/10) + ', ' + (contact.yuu.yScale[1]/10 + contact.yuu.yScale[6]/10) + ')'" />

                                <img *ngIf="contact.yuu.selectedHair != ''" [src]="contact.yuu.selectedHair"
                                    alt="Yuu Hair" class="object-cover rounded-lg pixel-art absolute w-full"
                                    [style.filter]="'hue-rotate(' + contact.yuu.hue[5] + 'deg) brightness(' + contact.yuu.brightness[5] + '%) saturate(' + contact.yuu.saturation[5] + '%)'"
                                    [style.top]="(contact.yuu.yOffset[1]+contact.yuu.yOffset[5]) + '%'"
                                    [style.left]="contact.yuu.xOffset[1]+contact.yuu.xOffset[5] + '%'"
                                    [style.transform]="'scale(' + (contact.yuu.yScale[1]/10 + contact.yuu.xScale[5]/10) + ', ' + (contact.yuu.yScale[1]/10 + contact.yuu.yScale[5]/10) + ')'" />

                                <img *ngIf="contact.yuu.selectedGlasses != ''" [src]="contact.yuu.selectedGlasses"
                                    alt="Yuu Glasses" class="object-cover rounded-lg pixel-art absolute w-full"
                                    [style.top]="(contact.yuu.yOffset[1]+contact.yuu.yOffset[7]) + '%'"
                                    [style.left]="contact.yuu.xOffset[1]+contact.yuu.xOffset[7] + '%'"
                                    [style.transform]="'scale(' + (contact.yuu.yScale[1]/10 + contact.yuu.xScale[7]/10) + ', ' + (contact.yuu.yScale[1]/10 + contact.yuu.yScale[7]/10) + ')'" />

                            </div>

                        </div>
                        <div class="p-2">
                            <p class="font-bold text-xl">{{contact.name}}</p>
                        </div>

                    </div>
                </div>
                <div routerLink="/ContactCreator"
                    class="w-full border-gray-200 rounded-lg shadow-md hover:bg-gray-100 flex flex-row h-1/8 items-center justify-center cursor-pointer bg-green-100 hover:bg-green-200 transition duration-300 ease-in-out">
                    <a class="font-semibold text-lg text-green-800">+ Add New Contact</a>
                </div>
            </div>
        </div>
        <div class="w-3/4 h-screen p-2 overflow-y-auto">
            <div class="">
                <p class="font-bold text-4xl p-3"> {{selectedContact.name}} </p>
                <hr>
            </div>

            <div class="w-full flex flex-row gap-5">
                <div class="aspect-square bg-blue-100 w-1/3 overflow-hidden rounded-lg border-1">
                    <div class="w-full h-full object-contain relative aspect-square">

                        <img *ngIf="selectedContact.yuu.selectedBackHair != ''" [src]="selectedContact.yuu.selectedBackHair"
                            alt="Yuu Hair" class="object-cover rounded-lg pixel-art absolute w-full"
                            [style.filter]="'hue-rotate(' + selectedContact.yuu.hue[5] + 'deg) brightness(' + (selectedContact.yuu.brightness[5]-1) + '%) saturate(' + selectedContact.yuu.saturation[5] + '%)'"
                            [style.top]="(selectedContact.yuu.yOffset[1]+selectedContact.yuu.yOffset[5]) + '%'"
                            [style.left]="selectedContact.yuu.xOffset[1]+selectedContact.yuu.xOffset[5] + '%'"
                            [style.transform]="'scale(' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.xScale[5]/10) + ', ' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.yScale[5]/10) + ')'" />

                        <img [src]="'/Yuu/Body.png'" alt="Yuu Body" class="rounded-lg pixel-art absolute w-full"
                            [style.filter]="'hue-rotate(' + selectedContact.yuu.hue[0] + 'deg) brightness(' + selectedContact.yuu.brightness[0] + '%) saturate(' + selectedContact.yuu.saturation[0] + '%)'" />

                        <img *ngIf="selectedContact.yuu.selectedHead != ''" [src]="'/Yuu/Heads/Head1.png'"
                            alt="Yuu Head" class="object-cover rounded-lg pixel-art absolute w-full"
                            [style.filter]="'hue-rotate(' + selectedContact.yuu.hue[1] + 'deg) brightness(' + selectedContact.yuu.brightness[1] + '%) saturate(' + selectedContact.yuu.saturation[1] + '%)'"
                            [style.top]="selectedContact.yuu.yOffset[1] + '%'"
                            [style.left]="selectedContact.yuu.xOffset[1] + '%'"
                            [style.transform]="'scale(' + selectedContact.yuu.xScale[1]/10 + ', ' + selectedContact.yuu.yScale[1]/10 + ')'" />

                        <img *ngIf="selectedContact.yuu.selectedEyes != ''" [src]="selectedContact.yuu.selectedEyes"
                            alt="Yuu Eyes" class="object-cover rounded-lg pixel-art absolute w-full"
                            [style.filter]="'hue-rotate(' + selectedContact.yuu.hue[2] + 'deg) brightness(' + selectedContact.yuu.brightness[2] + '%) saturate(' + selectedContact.yuu.saturation[2] + '%)'"
                            [style.top]="(selectedContact.yuu.yOffset[1]+selectedContact.yuu.yOffset[2]) + '%'"
                            [style.left]="selectedContact.yuu.xOffset[1]+selectedContact.yuu.xOffset[2] + '%'"
                            [style.transform]="'scale(' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.xScale[2]/10) + ', ' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.yScale[2]/10) + ')'" />

                        <img *ngIf="selectedContact.yuu.selectedMouth != ''" [src]="selectedContact.yuu.selectedMouth"
                            alt="Yuu Mouth" class="object-cover rounded-lg pixel-art absolute w-full"
                            [style.filter]="'hue-rotate(' + selectedContact.yuu.hue[3] + 'deg) brightness(' + selectedContact.yuu.brightness[3] + '%) saturate(' + selectedContact.yuu.saturation[3] + '%)'"
                            [style.top]="(selectedContact.yuu.yOffset[1]+selectedContact.yuu.yOffset[3]) + '%'"
                            [style.left]="selectedContact.yuu.xOffset[1]+selectedContact.yuu.xOffset[3] + '%'"
                            [style.transform]="'scale(' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.xScale[3]/10) + ', ' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.yScale[3]/10) + ')'" />

                        <img *ngIf="selectedContact.yuu.selectedNose != ''" [src]="selectedContact.yuu.selectedNose"
                            alt="Yuu Nose" class="object-cover rounded-lg pixel-art absolute w-full"
                            [style.filter]="'hue-rotate(' + selectedContact.yuu.hue[1] + 'deg) brightness(' + selectedContact.yuu.brightness[1] + '%) saturate(' + selectedContact.yuu.saturation[1] + '%)'"
                            [style.top]="(selectedContact.yuu.yOffset[1]+selectedContact.yuu.yOffset[4]) + '%'"
                            [style.left]="selectedContact.yuu.xOffset[1]+selectedContact.yuu.xOffset[4] + '%'"
                            [style.transform]="'scale(' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.xScale[4]/10) + ', ' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.yScale[4]/10) + ')'" />

                        <img *ngIf="selectedContact.yuu.selectedBeard != ''" [src]="selectedContact.yuu.selectedBeard"
                            alt="Yuu Beard" class="object-cover rounded-lg pixel-art absolute w-full"
                            [style.filter]="'hue-rotate(' + selectedContact.yuu.hue[5] + 'deg) brightness(' + selectedContact.yuu.brightness[5] + '%) saturate(' + selectedContact.yuu.saturation[5] + '%)'"
                            [style.top]="(selectedContact.yuu.yOffset[1]+selectedContact.yuu.yOffset[6]) + '%'"
                            [style.left]="selectedContact.yuu.xOffset[1]+selectedContact.yuu.xOffset[6] + '%'"
                            [style.transform]="'scale(' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.xScale[6]/10) + ', ' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.yScale[6]/10) + ')'" />

                        <img *ngIf="selectedContact.yuu.selectedHair != ''" [src]="selectedContact.yuu.selectedHair"
                            alt="Yuu Hair" class="object-cover rounded-lg pixel-art absolute w-full"
                            [style.filter]="'hue-rotate(' + selectedContact.yuu.hue[5] + 'deg) brightness(' + selectedContact.yuu.brightness[5] + '%) saturate(' + selectedContact.yuu.saturation[5] + '%)'"
                            [style.top]="(selectedContact.yuu.yOffset[1]+selectedContact.yuu.yOffset[5]) + '%'"
                            [style.left]="selectedContact.yuu.xOffset[1]+selectedContact.yuu.xOffset[5] + '%'"
                            [style.transform]="'scale(' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.xScale[5]/10) + ', ' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.yScale[5]/10) + ')'" />

                        <img *ngIf="selectedContact.yuu.selectedGlasses != ''"
                            [src]="selectedContact.yuu.selectedGlasses" alt="Yuu Glasses"
                            class="object-cover rounded-lg pixel-art absolute w-full"
                            [style.top]="(selectedContact.yuu.yOffset[1]+selectedContact.yuu.yOffset[7]) + '%'"
                            [style.left]="selectedContact.yuu.xOffset[1]+selectedContact.yuu.xOffset[7] + '%'"
                            [style.transform]="'scale(' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.xScale[7]/10) + ', ' + (selectedContact.yuu.yScale[1]/10 + selectedContact.yuu.yScale[7]/10) + ')'" />

                    </div>
                </div>
                <div class="w-2/3 p-5">
                    <p class="text-2xl"> <span class="font-bold"> Birthday: </span>{{selectedContact.birthday.toDateString()}}</p>

                    <p class="text-2xl"> <span class="font-bold py-4"> Address: </span>{{selectedContact.address}}</p>

                    





                </div>
            </div>

            <p class="text-2xl"> <span class="font-bold"> Contact ID: </span>{{selectedContact.id}}</p>

            <div class="mt-4">
                <p class="text-lg font-semibold">Social Media:</p>
                <div class="flex flex-row gap-3">
                    <div class="flex items-center gap-2 w-1/3 border-1 border-gray-200 rounded-lg shadow-sm flex flex-row p-5" [ngClass]="darkMode ? 'bg-slate-900 text-white hover:bg-black' : 'bg-white text-black hover:bg-gray-100'"
                    *ngFor="let social of selectedContact.socials; let i = index">

                        <div class="flex w-full" *ngIf="social.link != ''">
                            <p class="font-bold flex-grow"> {{social.platform}}: </p> 
                            <a href="{{social.link}}" class="text-blue-500 text-right"> {{social.handle}} </a>
                        </div>

                        <div class="flex" *ngIf="social.link == ''">
                            <p class="font-bold"> {{social.platform}}: </p> <p class="text-blue-500 text-right" >{{social.handle}}</p>
                        </div>

                    </div>
                </div>

                <div class="mt-4">
                    <!-- Contact Description -->
                    <p class="text-lg font-semibold">Notes:</p>
                    <textarea [(ngModel)]="selectedContact.notes" placeholder="Add a description for this contact..."
                        class="w-full p-3 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                        rows="4">
                    </textarea>
                </div>


                <div class="mt-6 flex justify-between">
                    <!-- Edit Contact Button -->
                    <button [routerLink]="'/contact-editor/' + selectedContact.id"
                        class="bg-yellow-400 text-white px-4 py-2 rounded-lg hover:bg-yellow-500 transition duration-300">
                        Edit Contact
                    </button>

                    <!-- Delete Contact Button -->
                    <button class="bg-red-400 text-white px-4 py-2 rounded-lg hover:bg-red-500 transition duration-300" (click)="DeleteContact(selectedContact.id)" >
                        Delete Contact
                    </button>
                </div>
            </div>


        </div>
    </div>
