<div class="container mx-auto pt-5">




<h1 class="text-3xl font-bold text-center">Welcome to Golden Calendar </h1>


<div class="float-left rotate-5">
    <a routerLink="/glance" class="button rounded-lg bg-blue-300 text-white p-5">Glance</a>
</div>
<div class="float-left">
    <a routerLink="/calendar" class="button rounded-lg bg-blue-300 text-white p-5">Calendar</a>
</div>

<div class="float-left">
<a routerLink="/contacts" class="button rounded-lg bg-blue-300 text-white p-5">Social</a>
</div>

<!-- <a routerLink="/" class="button rounded-lg bg-blue-300 text-white p-5">Calendar</a> -->
<!-- <a routerLink="/" class="button outline-solid outline-red-500 text-white p-3 hover:bg-red-700 hover:font-bold rounded-lg select-none ">Back</a> -->

</div>