<div class="container mx-auto pt-5 text-center gap-3">
    <h1 class="text-7xl font-bold text-center mb-8 float-element">
        <span class="hoverPop">Welcome </span>
        <span>to </span> 
        <span>Golden </span>
        <span>Calendar </span>
    </h1>

    <div class="grid grid-cols-2 gap-4" routerLink="/glance">
        <div class="hoverPop NeonBG p-4 rounded-3xl">
            <div class="w-full bg-blue-950 h-48 text-center rounded-3xl flex items-center justify-center">
                <p class="rounded-lg text-white font-bold text-7xl">Glance</p>
            </div>
        </div>

        <div class="hoverPop NeonBG p-4 rounded-3xl" routerLink="/calendar">
            <div class="w-full bg-blue-950 h-48 text-center rounded-3xl flex items-center justify-center">
                <p  class="rounded-lg text-white font-bold text-7xl">Calendar</p>
            </div>
        </div>

        <div class="hoverPop NeonBG p-4 rounded-3xl" routerLink="/contacts">
            <div class="w-full bg-blue-950 h-48 text-center rounded-3xl flex items-center justify-center">
                <p  class="rounded-lg text-white font-bold text-7xl">Contacts</p>
            </div>
        </div>

        <div class="hoverPop NeonBG p-4 rounded-3xl" routerLink="/goals">
            <div class="w-full bg-blue-950 h-48 text-center rounded-3xl flex items-center justify-center">
                <p routerLink="/settings" class="rounded-lg text-white font-bold text-7xl">Settings</p>
            </div>
        </div>
    </div>

    <p class="text-white text-left">ver 0.83</p>
</div>
